/* work footwer part */
footer {
    background: #ffffff;
    margin: 0 auto;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
footer h1 {
    color: var(--primary-color);
    font-size: 4.5rem;
    font-weight: 900;
    margin-bottom: 1rem;
}
footer p {
    max-width: 700px;
    margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--second-color);
}
footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
}
footer ul li a {
    text-decoration: none;
    color: var(--second-color);
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.3s ease, transform 0.3s ease;
    padding: 1rem;
}
footer ul li a:hover {
    color: #332df5;
    text-decoration: underline 1px solid #130ceb;
    transform: translateY(-3px) scale(1.05);
}
 footer ul {
        justify-content: center;
        max-width: 800px;
}
   footer p {
        font-size: 0.95rem;
        padding: 0 1rem;
        max-width: 800px;
}
footer img {
        max-width: 120px;
}

 footer ul{
    gap: 1rem;
    max-width: 500px;
 }
    footer ul li a {
          font-size: 0.9rem;
          max-width: 500px;
    }
    /* end footer part  */
      
        